## 2.1
### task 4

In [1]:
#install.packages("ggplot2")
library(ggplot2)

In [2]:
dim(diamonds)

[1] 53940    10

In [3]:
class(diamonds)

[1] "tbl_df"     "tbl"        "data.frame"

In [4]:
head(diamonds, 3)

  carat cut     color clarity depth table price x    y    z
1 0.23  Ideal   E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.21  Premium E     SI1     59.8  61    326   3.89 3.84 2.31
3 0.23  Good    E     VS1     56.9  65    327   4.05 4.07 2.31

In [5]:
mean1 <- mean(diamonds$price)
mean2 <- mean(diamonds$carat)
diamonds['factor_price'] <- as.integer(diamonds['price'] >= mean1)
diamonds['factor_carat'] <- as.integer(diamonds['carat'] >= mean2)

In [6]:
tail(diamonds)

  carat cut       color clarity depth table price x    y    z    factor_price
1 0.72  Premium   D     SI1     62.7  59    2757  5.69 5.73 3.58 0
2 0.72  Ideal     D     SI1     60.8  57    2757  5.75 5.76 3.50 0
3 0.72  Good      D     SI1     63.1  55    2757  5.69 5.75 3.61 0
4 0.70  Very Good D     SI1     62.8  60    2757  5.66 5.68 3.56 0
5 0.86  Premium   H     SI2     61.0  58    2757  6.15 6.12 3.74 0
6 0.75  Ideal     D     SI2     62.2  55    2757  5.83 5.87 3.64 0
  factor_carat
1 0
2 0
3 0
4 0
5 1
6 0

In [7]:
main_stat <- chisq.test(
    table(
        diamonds$factor_price,
        diamonds$factor_carat
    )
)$statistic

In [8]:
main_stat

X-squared
 40735.22

### task 5

In [9]:
head(mtcars, 3)

              mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4     21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710    22.8 4   108   93 3.85 2.320 18.61 1  1  4    1

In [10]:
fisher_test <- fisher.test(table(mtcars$am, mtcars$vs))$p.value

In [11]:
fisher_test

[1] 0.4726974