## 2.2
### Task 1
Посмотрим на встроенный набор данных в R - ToothGrowth.
Эти данные позволяют исследовать рост зубов у морских свинок в зависимости от дозировки витамина C и типа потребляемых продуктов.

Непосредственно задание:
Сравните среднее значение длины зубов свинок, которые потребляли апельсиновый сок (OJ) с дозировкой 0.5 миллиграмм, со средним значением длины зубов свинок, которые потребляли аскорбиновую кислоту (VC) с дозировкой 2 миллиграмма.
<br><br>
Взглянем на данные:

In [3]:
head(ToothGrowth, 5)

  len  supp dose
1  4.2 VC   0.5
2 11.5 VC   0.5
3  7.3 VC   0.5
4  5.8 VC   0.5
5  6.4 VC   0.5

In [14]:
typeof(ToothGrowth)

[1] "list"

In [31]:
dt <- ToothGrowth
dt1 <- subset(dt, dose == 0.5 & supp == "OJ")
dt2 <- subset(dt, dose == 2.0 & supp == "VC")

In [32]:
dt1

   len  supp dose
31 15.2 OJ   0.5
32 21.5 OJ   0.5
33 17.6 OJ   0.5
34  9.7 OJ   0.5
35 14.5 OJ   0.5
36 10.0 OJ   0.5
37  8.2 OJ   0.5
38  9.4 OJ   0.5
39 16.5 OJ   0.5
40  9.7 OJ   0.5

In [33]:
dt2

   len  supp dose
21 23.6 VC   2
22 18.5 VC   2
23 33.9 VC   2
24 25.5 VC   2
25 26.4 VC   2
26 32.5 VC   2
27 26.7 VC   2
28 21.5 VC   2
29 23.3 VC   2
30 29.5 VC   2

In [37]:
ttest <- t.test(dt1$len, dt2$len)
t_stat <- ttest$statistic

### Question 1

По всем испытуемым сравните показатель давления до начала лечения (Pressure_before) с показателем давления после лечения (Pressure_after) при помощи t - критерия для зависимых выборок.

In [43]:
url <- "https://stepic.org/media/attachments/lesson/11504/lekarstva.csv"
dest <- 'some.csv'

In [47]:
download.file(url = url, destfile = dest)

In [49]:
df <- read.csv('some.csv')

In [50]:
head(df, 4)

  Group Uroven_sahara_v_krovi Pressure_before Pressure_after Holesterin..Aprel.
1 2     90                    170             135            235
2 2     85                    160             155            185
3 1     95                    165             155            235
4 1     86                    170             165            155
  Holesterin..Mart.
1 205
2 195
3 260
4 136

In [53]:
y1 <- df$Pressure_before
y2 <- df$Pressure_after

ttest <- t.test(y1,y2,paired=TRUE)
t_stat <- ttest$statistic

print(t_stat)

       t
14.22673

### Task 2

In [107]:
df <- read.table("dataset_11504_15.txt")
head(df)

  V1     V2
1 -1.462 1
2 -0.741 1
3 -0.806 1
4 -0.808 1
5  1.217 1
6 -1.819 1

In [108]:
df1 <- subset(df, V2 == 1)
df2 <- subset(df, V2 == 2)

In [109]:
alpha <- 0.05
hom <- bartlett.test(V1 ~ V2, df)$p.value > alpha

print(hom)

if (hom) {
    pval <- t.test(V1 ~ V2, df, var.equal = TRUE)
} else {
    pval <- wilcox.test(V1 ~ V2, df)
}
answer <- round(pval$p.value, 4)

[1] FALSE

In [110]:
print(answer)

[1] 0.3946

In [94]:
# unlink ( "dataset_11504_11.txt" )

### Task 3

In [129]:
df <- read.table('dataset_11504_16.txt')
head(df, 3)

  V1     V2
1  0.292  0.005
2  1.219  1.728
3 -0.775 -0.357

In [130]:
x <- t.test(df$V1, df$V2)

In [132]:
if (x$p.value < 0.05) {
    answer <- c(mean(df$V1), mean(df$V2), x$p.value)
} else {
    answer <- "The difference is not significant"
}

In [133]:
print(answer)
answer

[1] 1.07864000 0.61094000 0.01284927

[1] 1.07864000 0.61094000 0.01284927